{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur ProStage ! </h>
  <p>
    Cette page présentera bientot toutes les ressources pédagogiques susceptible de vous être utiles durant votre formation à l'IUT.
  </p>

  <a href="{{path('pro_stage_entreprises')}}">Rechercher par entreprise</a>
  <a href="{{path('pro_stage_formations')}}">Rechercher par formation</a>

  <ul>
    <li><a href="{{path('pro_stage_stages', {id:1})}}">stage1</a></li>
    <li><a href="{{path('pro_stage_stages', {id:2})}}">stage2</a></li>
    <li><a href="{{path('pro_stage_stages', {id:3})}}">stage3</a></li>
    <li><a href="{{path('pro_stage_stages', {id:4})}}">stage4</a></li>
    <li><a href="{{path('pro_stage_stages', {id:5})}}">stage5</a></li>
    <li><a href="{{path('pro_stage_stages', {id:6})}}">stage6</a></li>
  </ul>
{% endblock %}
