{% extends 'base.html.twig' %}

{% block body %}
  <div >
  <p>Les différents stages accessibles pour le moment :</p>
  {% for stage in stageList %}
  <div class="list-group">
    <a href="{{path('pro_stage_stages', {idstage:stage.id})}}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{stage.titre}}</h5>
        <small>Formations : {% for formation in stage.formations %}{{formation.intitule}} {% endfor %}</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <small><p class="disabled"> {{stage.entreprise.nom}} - {{stage.entreprise.activite}}</p></small>
        <small>Contact : {{stage.email}}</small>
      </div>
      <p class="mb-1">{{stage.description}}</p>
    </a>
    {% endfor %}
  </ul>
</div>

{% endblock %}
