<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
  <link href="{{asset('/css/bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}
</head>
<body>
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="page-header">
  				<h1>
  					Bienvenue sur ProStage !!!
  				</h1>
  			</div>
  			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  					<span class="navbar-toggler-icon"></span>
  				</button> <a class="navbar-brand" href="{{path('pro_stage')}}">ProStage</a>
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  					<ul class="navbar-nav">
  					</ul>
  					<ul class="navbar-nav ml-md-auto">
  						<li class="nav-item dropdown">
  							<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown">Rechercher par</a>
  							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{path('pro_stage_entreprises')}}">entreprise</a></li>
                    <li><a class="dropdown-item" href="{{path('pro_stage_formations')}}">formation</a></li>
                  </ul>
  							</div>
  						</li>
  					</ul>
  				</div>
  			</nav>
  		</div>
  	</div>
  {% block body %}{% endblock %}
  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{asset('/js/bootstrap.min.js')}}"></script>
    {% endblock %}
</body>
</html>


	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-10">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>
